{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('isi.static', filename='isi/isi-style.css')}}">
{% endblock %}

{% block navbar %}
  {{nav.isi.render(renderer='ode_navbar')}}
{% endblock %}

{% block title %}{% block titleinner %}{% endblock %} &mdash; ISI{% endblock %}

{% macro select2_recipients_raw(mailing_lists, target_field='recipients_raw', include_script=False) %}
	{% if include_script %}<script src="{{url_for('static', filename='select2/select2.full.min.js')}}"></script>{% endif %}
	<script>
	$(function(){
		var seen = { {% for list in mailing_lists %} {{list.dn|tojson|safe}}: true, {% endfor %} }
		var recipients = $('#{{target_field}} > li input').map(function(i, obj){return $(obj).val()}).get().filter(function(i){return !!i;});
		var additional_recipients = recipients.filter(function(i){return !seen.hasOwnProperty(i)});
		replace_with_select2('{{target_field}}');

		$('#{{target_field}}').select2({
			theme: 'bootstrap',
			width: "100%",
			tags: [
				{% for list in mailing_lists %} { "id": {{list.dn|tojson|safe}}, "text": {{list.name|force_str|tojson|safe}} }, {% endfor %}
			].concat(additional_recipients.map(
				function(i){
					return { "id": i, "text": i };
				}
			)),
		});

		$('#{{target_field}}').val(recipients).trigger("change");
		$('div[role=main] form').submit(function(){
				var new_recipients = $('#{{target_field}}').val();
				var new_inputs = $();
				$.each(new_recipients, function(i, obj){
						new_inputs = new_inputs.add( $('<input type="hidden" name="{{target_field}}-'+i+'">').val(obj) );
				});
				$('#{{target_field}}').replaceWith(new_inputs);
		});

	});
	</script>
{% endmacro %}

{% macro select2_css() %}
<link rel="stylesheet"
			href="{{url_for('static', filename='select2/select2.min.css')}}">
<link rel="stylesheet"
			href="{{url_for('static', filename='select2/select2-bootstrap.min.css')}}">
{% endmacro %}

{% macro ckeditor_text_html(target_field='text_html', include_script=False) %}
	{% if include_script %}<script src="{{url_for('isi.static', filename='isi/ckeditor/ckeditor.js')}}"></script>{% endif %}
	<script>
	$(function(){
		CKEDITOR.config.height="30em";
		CKEDITOR.replace({{target_field|tojson}});
	});
	</script>
{% endmacro %}


{% macro output_recipient(recipient, extra_classes="", nesting=0, output_links=True) %}
	<tr class="{{extra_classes}}">
		{% if recipient.accept == recipient.accept.YES %}
			<td class="rsvp-yes"><span class="glyphicon glyphicon-ok"></span><span class="sr-only">[[{{_("Yes")}}]]</span></td>
		{% else %}
			<td class="rsvp-yes">
				{%- if output_links -%}
					<a href="{{url_for('.recipient_set', recipient_id=recipient.id, state_yes=1, csrf_token=form.csrf_token.current_token)}}"><span class="glyphicon glyphicon-ok" aria-hidden="true" title="{{_("Mark recipient as 'Yes'")}}"></span><span class="sr-only">{{_("Set Yes")}}</span></a>
				{%- else -%}

				{%- endif -%}
			</td>
		{% endif %}
		{% if recipient.accept == recipient.accept.TENTATIVE %}
			<td class="rsvp-tentative"><span class="glyphicon glyphicon-warning-sign"></span><span class="sr-only">[[{{_("Tentative")}}]]</span></td>
		{% else %}
			<td class="rsvp-tentative">
				{%- if output_links -%}
					<a href="{{url_for('.recipient_set', recipient_id=recipient.id, state_tentative=1, csrf_token=form.csrf_token.current_token)}}"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true" title="{{_("Mark recipient as 'Tentative'")}}"></span><span class="sr-only">{{_("Set Tentative")}}</span></a>
				{%- else -%}

				{%- endif -%}
			</td>
		{% endif %}
		{% if recipient.accept == recipient.accept.UNKNOWN %}
			<td class="rsvp-unknown"><span class="glyphicon glyphicon-question-sign"></span><span class="sr-only">[[{{_("Unknown")}}]]</span></td>
		{% else %}
			<td></td>
		{% endif %}
		{% if recipient.accept == recipient.accept.NO %}
			<td class="rsvp-no"><span class="glyphicon glyphicon-remove"></span><span class="sr-only">[[{{_("No")}}]]</span></td>
		{% else %}
			<td class="rsvp-no">
				{%- if output_links -%}
					<a href="{{url_for('.recipient_set', recipient_id=recipient.id, state_no=1, csrf_token=form.csrf_token.current_token)}}"><span class="glyphicon glyphicon-remove" aria-hidden="true" title="{{_("Mark recipient as 'No'")}}"></span><span class="sr-only">{{_("Set No")}}</span></a>
				{%- else -%}

				{%- endif -%}
			</td>
		{% endif %}
		<td>
			{% for i in range(nesting) -%}
				&nbsp;&nbsp;&nbsp;
			{%- endfor -%}
			{%- if recipient.parent -%}
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span class="sr-only">+</span>&nbsp;
			{%- endif -%}
			{{recipient.to_unicode}}
		</td>
		{% set timestamp = recipient.accept_time|timestamp or '' %}
		<td data-text="{{timestamp}}">
			{% if recipient.accept_type == recipient.accept_type.LINK %}
				<span class="glyphicon glyphicon-link" aria-hidden="true"
					title="{{_("Recipient responded via link")}}"></span>
				<span class="sr-only">{{_("Responded via link")}}:</span>
			{% elif recipient.accept_type == recipient.accept_type.EMAIL %}
				<span class="glyphicon glyphicon-envelope" aria-hidden="true"
					title="{{_("Recipient responded via mail")}}"></span>
				<span class="sr-only">{{_("Responded via mail")}}:</span>
			{% elif recipient.accept_type == recipient.accept_type.MANUAL %}
				<span class="glyphicon glyphicon-pencil" aria-hidden="true"
					title="{{_("Recipient state manually set")}}"></span>
				<span class="sr-only">{{_("Manually set")}}:</span>
			{% else %}
			{% endif %}
		</td>
		<td style="text-align: left; white-space: nowrap">
			{% if recipient.accept_time %}
				<span class="datetime-relative" data-timestamp="{{timestamp}}"></span>
			{% endif %}
		</td>
		<td style="text-align: right; white-space: nowrap">
			{% if recipient.accept_time %}
				<span class="datetime-formatted" data-timestamp="{{timestamp}}">{{recipient.accept_time|dateformat}} {{recipient.accept_time|strfdatetime("%H:%M")}} {{recipient.accept_time|timeformat(format="z")}}</span>
			{% endif %}
		</td>
	</tr>
	{% for child in recipient.children %}
		{{ output_recipient(child, "tablesorter-childRow", nesting+1)}}
	{% endfor %}
{% endmacro %}
