{% extends "isi/base.html" %}
{% block titleinner %}Hello World{% endblock %}

{% block inner %}
	<h2>Hello World</h2>

	<p>Here's what we know:</p>


	<table class="table table-striped">
		{% for e in events %}
			<tr data-href="{{url_for('.event_view', event_id=e.id)}}">
				<td>
					<form action="{{url_for('.create_invitation')}}" method="POST" class="form" role="form">
  						<div style="display:none;">{{refresh_form.csrf_token}}<input id="event_id" name="event_id" type="hidden" value="{{e.id}}"></div><button class="btn btn-default" id="create" name="create" type="submit" value="Create"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Create invitation</button></form>
						
				</td>
				<td>
					{{e.start}} – {{e.end}}
					<p class="lead"><a href="{{url_for('.event_view', event_id=e.id)}}">{{e.summary}}</a></p>
					{{e.description}}
				</td>
			</tr>
		{% endfor %}
	</table>

	{{ wtf.quick_form(refresh_form, action=url_for('.refresh'), method="POST") }}

{% endblock %}
