{% extends "isi/base.html" %}
{% block titleinner %}Invitation view: '{{invitation.event.summary}}'{% endblock %}

{% block inner %}
	{% macro is_preparing(yes='', no='') -%}
		{%- if invitation.state == invitation.state.PREPARING -%}
			{{ yes|safe }}
		{%- else -%}
			{{ no|safe }}
		{%- endif -%}
	{%- endmacro %}
	<form method="POST" class="form" role="form">
		<div style="display:none;">{{form.csrf_token()}}</div>
		<div>
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation"><a href="#event" aria-controls="event" role="tab" data-toggle="tab">Event</a></li>
				{% if invitation.state != invitation.state.PREPARING %}
					<li role="presentation" class="active"><a href="#responses" aria-controls="home" role="tab" data-toggle="tab">Responses</a></li>
				{% endif %}
				<li role="presentation" {{is_preparing('class="active"')}}><a href="#invitation" aria-controls="invitation" role="tab" data-toggle="tab">Invitation text</a></li>
				<li role="presentation"><a href="#options" aria-controls="options" role="tab" data-toggle="tab">Options</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane" id="event">
					<p class="lead">{{invitation.event.summary}}</p>
					<p>{{invitation.event.description}}</p>
				</div>
				{% if invitation.state != invitation.state.PREPARING %}
					<div role="tabpanel" class="tab-pane active" id="responses">
						<table class="table table-striped rsvp-list">
							<thead>
								<tr>
									<th class="rsvp-yes"><span class="glyphicon glyphicon-ok-sign"></span><span class="sr-only">Yes</span></th>
									<th class="rsvp-unknown"><span class="glyphicon glyphicon-question-sign"></span><span class="sr-only">Unknown</span></th>
									<th class="rsvp-no"><span class="glyphicon glyphicon-remove-sign"></span><span class="sr-only">No</span></th>
									<th>Recipient</th>
									<th>Last responded</th>
								</tr>
							</thead>
							{% for recipient in invitation.recipients %}
								{% if recipient.state == recipient.state.SENT %}
									<tr>
										{% if recipient.accept == recipient.accept.YES %}
											<td class="rsvp-yes"><span class="glyphicon glyphicon-ok"></span><span class="sr-only">[[Yes]]</span></td>
										{% else %}
											<td class="rsvp-yes"><a href="{{url_for('.recipient_set', recipient_id=recipient.id, state_yes=1, csrf_token=form.csrf_token.current_token)}}"><span class="glyphicon glyphicon-ok" aria-hidden="true" title="Mark recipient as 'Yes'"></span><span class="sr-only">Set Yes</span></a></td>
										{% endif %}
										{% if recipient.accept == recipient.accept.UNKNOWN %}
											<td class="rsvp-yes"><span class="glyphicon glyphicon-question-sign"></span><span class="sr-only">[[Unknown]]</span></td>
										{% else %}
											<td></td>
										{% endif %}
										{% if recipient.accept == recipient.accept.NO %}
											<td class="rsvp-no"><span class="glyphicon glyphicon-remove"></span><span class="sr-only">[[No]]</span></td>
										{% else %}
											<td class="rsvp-no"><a href="{{url_for('.recipient_set', recipient_id=recipient.id, state_no=1, csrf_token=form.csrf_token.current_token)}}"><span class="glyphicon glyphicon-remove" aria-hidden="true" title="Mark recipient as 'No'"></span><span class="sr-only">Set No</span></a></td>
										{% endif %}
										<td>{{recipient.to_unicode}}</td>
										<td>{{recipient.accept_time|datetime}}</td>
									</tr>
								{% endif %}
							{% endfor %}
							<tfoot>
								<tr>
									<th class="rsvp-yes">{{ invitation.rsvp_yes|length }}</th>
									<th class="rsvp-unknown">{{ invitation.rsvp_unknown|length }}</th>
									<th class="rsvp-no">{{ invitation.rsvp_no|length }}</th>
									<td></td><td></td>
								</tr>
							</tfoot>
						</table>

					</div>
				{% endif %}
				<div role="tabpanel" class="tab-pane {{is_preparing('active')}}" id="invitation">
					<div>{{wtf.form_field(form.subject, form_type='horizontal')}}</div>

					<textarea class="form-control" id="text_html" name="text_html" cols="160" rows="30" {{is_preparing('','readonly="readonly"')}} >{{form.text_html.data|safe}}</textarea>
					
				</div>
				<div role="tabpanel" class="tab-pane" id="options">
					{{wtf.form_field(form.recipients_raw, form_type='horizontal')}}
					{{wtf.form_field(form.sender, form_type='horizontal')}}
				</div>
			</div>
		</div>
		<input class="btn btn-default" id="save" name="save" type="submit" value="Save">
		<input class="btn btn-default" id="send" name="send" type="submit" value="Send …">
	</form>

{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
			href="{{url_for('static', filename='select2/select2.min.css')}}">
<link rel="stylesheet"
			href="{{url_for('static', filename='select2/select2-bootstrap.min.css')}}">
{% endblock %}


{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='isi/ckeditor/ckeditor.js')}}"></script>
<script src="{{url_for('static', filename='select2/select2.full.min.js')}}"></script>
<script>
$(function(){
	CKEDITOR.config.height="30em";
	CKEDITOR.replace('text_html');

	var seen = { {% for list in mailing_lists %} {{list.dn|tojson|safe}}: true, {% endfor %} }
	var recipients = $('#recipients_raw > li input').map(function(i, obj){return $(obj).val()}).get().filter(function(i){return !!i;});
	var additional_recipients = recipients.filter(function(i){return !seen.hasOwnProperty(i)});
	replace_with_select2('recipients_raw');

	$('#recipients_raw').select2({
		theme: 'bootstrap',
		width: "100%",
		tags: [
			{% for list in mailing_lists %} { "id": {{list.dn|tojson|safe}}, "text": {{list.name|force_str|tojson|safe}} }, {% endfor %}
		].concat(additional_recipients.map(
			function(i){
				return { "id": i, "text": i };
			}
		)),
	});

	$('#recipients_raw').val(recipients).trigger("change");
	$('div[role=main] form').submit(function(){
			var new_recipients = $('#recipients_raw').val();
			var new_inputs = $();
			$.each(new_recipients, function(i, obj){
					new_inputs = new_inputs.add( $('<input type="hidden" name="recipients_raw-'+i+'">').val(obj) );
			});
			$('#recipients_raw').replaceWith(new_inputs);
	});


});
</script>
{% endblock %}
