label[for=groups] + div > ul { height: auto; }
label[for=groups] + div > ul > li { list-style: none; }

label[for=members] + div > ul { height: auto; }
label[for=members] + div > ul > li { list-style: none; }

ul#list_members { height: auto; }

#select2-aliases-results { display: none; }

.nowrap { white-space: nowrap; }

.nav > li > a { padding-right: 20px; }
.nav > li.navigation-add-object > a { margin-left: -30px; }
.nav > li.navigation-add-object.active > a { background-color: inherit; color: #000;}
.nav > li.navigation-add-object.active > a:hover { background-color: inherit; color: #555;}

/**
 * Progress bars with centered text
 */

.progress.progress-text-center {
    position: relative;
}

.progress.progress-text-center span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
 }

/**
 * Tables in forms (fix)
 */

.form-control {
    height: auto !important;
    list-style: none !important;
}