label[for=groups] + div > ul { height: auto; }
label[for=groups] + div > ul > li { list-style: none; }

label[for=members] + div > ul { height: auto; }
label[for=members] + div > ul > li { list-style: none; }

ul#list_members { height: auto; }

body { padding-top: 70px; }

#select2-aliases-results { display: none; }

.nowrap { white-space: nowrap; }

/**
 * Progress bars with centered text
 */

.progress.progress-text-center {
    position: relative;
}

.progress.progress-text-center span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
 }
