{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block metas %}
{{super()}}
<link rel="icon" 
      href="{{url_for('static', filename='icons/favicon.png')}}" type="image/png" />
{% endblock %}

{% block navbar %}
  {{nav.top.render(renderer='ode_navbar')}}
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='ode-scripts.js')}}"></script>
{% block online_only_scripts %}
<script src="{{url_for('static', filename='jed/jed.js')}}"></script>
<script>
var i18n = new Jed( {{ get_js_locale_data() }} );
</script>
{% endblock %}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='ode-style.css')}}">
{% endblock %}



{% block content %}
<div class="container" role="main">
  <div class="clearfix"></div>
  {% block flashes %}
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
          {% for cat, message in messages %}
            {% with category = "success" if cat == "message" else cat %}
              <div class="alert alert-{{category}} alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
              </div>
            {% endwith %}
          {% endfor %}
      {% endif %}
    {% endwith %}
  {% endblock %}
  {% block inner %}
  {% endblock %}
</div>
{% endblock %}
