{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='amu-style.css')}}">
{% endblock %}

{% block navbar %}
  {{nav.mynavbar.render(renderer='custom')}}
{% endblock %}

{% block content %}
<div class="container" role="main">
	<div class="clearfix"></div>
	{% with messages = get_flashed_messages(with_categories=True) %}
		{% if messages %}
				{% for cat, message in messages %}
					{% with category = "success" if cat == "message" else cat %}
						<div class="alert alert-{{category}} alert-dismissible fade in" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							{{ message }}
						</div>
					{% endwith %}
				{% endfor %}
		{% endif %}
	{% endwith %}
  {% block inner %}
  {% endblock %}
</div>
{% endblock %}

{% block title %}{% block titleinner %}{% endblock %} &mdash; AMU{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='amu-scripts.js')}}"></script>
{% endblock %}

{% macro load_zxcvbn() %}
    // cross-browser asynchronous script loading for zxcvbn.
    // adapted from http://friendlybit.com/js/lazy-loading-asyncronous-javascript/

    (function() {

      var ZXCVBN_SRC = '{{url_for('static',filename='zxcvbn/zxcvbn.js')}}';

      var async_load = function() {
        var first, s;
        s = document.createElement('script');
        s.src = ZXCVBN_SRC;
        s.type = 'text/javascript';
        s.async = true;
        first = document.getElementsByTagName('script')[0];
        return first.parentNode.insertBefore(s, first);
      };

      if (window.attachEvent != null) {
        window.attachEvent('onload', async_load);
      } else {
        window.addEventListener('load', async_load, false);
      }

    }).call(this);

{% endmacro %}
