{% extends "base.html" %}
{% block titleinner %}Group list{% endblock %}

{% block inner %}
  <h2>Group list</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Members</th>
      </tr>
    </thead>
    {% for group in groups %}
      <tr data-href="{{url_for('.group',cn=group.name)}}">
        <td><a href="{{url_for('.group',cn=group.name)}}">{{group.name}}</a></td>
        <td>
          {% for user in users if user.dn in group.members %}{% if loop.index0 %},{% endif %} {{user.name}}{% endfor %}
        </td>
      </tr>
    {% endfor %}
  </table>
  
{% endblock %}
