{% extends "base.html" %}
{% block titleinner %}Create new user{% endblock %}

{% block inner %}
  <h2>Create new user</h2>

  {{ wtf.quick_form(form, method="POST", action=url_for('.new_user'), form_type="horizontal") }}
  
{% endblock %}

{% block scripts %}
{{super()}}
<script>
$(function(){
	var fullname_changed = false;
	var username_changed = false;
	var computed_fullname = function() {
		return $.trim($('#givenname').val() + " " + $('#surname').val());
	};
	var computed_username = function() {
		return $.trim($('#givenname').val().toLowerCase());
	};
	var fullname_change_handler = function() {
		if(!fullname_changed) {
			$('#name').val(computed_fullname());
		}
	};
	var username_change_handler = function() {
		if(!username_changed) {
			$('#userid').val(computed_username());
		}
	}
	$('#name').change(function(){
		fullname_changed = ($('#name').val() != computed_fullname());
	});
	$('#userid').change(function(){
		username_changed = ($('#userid').val() != computed_username());
	});
	$('#givenname').bind("change keyup paste input", fullname_change_handler);
	$('#surname').bind("change keyup paste input", fullname_change_handler);
	$('#givenname').bind("change keyup paste input", username_change_handler);

	var meter_inserted = false;
	$('#password').bind("change keyup paste input", function(){
		if(typeof zxcvbn !== 'undefined') {
			if(!meter_inserted) {
				$('<div class="progress progress-text-center" id="passwordstrength"><div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span>60% Complete</span></div></div>').insertAfter('#password');
				meter_inserted = true;
			}
			var result = zxcvbn($('#password').val());
			var strength = parseInt(result.guesses_log10 * 3);
			if(strength > 100) {
				strength = 100;
			}
			$('#passwordstrength div')
				.attr("aria-valuenow", strength)
				.attr("style", "width: "+strength+"%");
			$('#passwordstrength div span')
				.text("Crack time approximately: " + 
					result.crack_times_display.offline_slow_hashing_1e4_per_second);
			var display_class = "default";
			if(result.score <= 2) {
				display_class = "danger";
			} else if(result.score == 3) {
				display_class = "warning";
			} else if(result.score >= 4) {
				display_class = "success";
			}
			$('#passwordstrength div')
				.removeClass("progress-bar-default")
				.removeClass("progress-bar-danger")
				.removeClass("progress-bar-warning")
				.removeClass("progress-bar-success")
				.addClass("progress-bar-" + display_class);
		}
	});
	
});
// cross-browser asynchronous script loading for zxcvbn.
// adapted from http://friendlybit.com/js/lazy-loading-asyncronous-javascript/

(function() {

  var ZXCVBN_SRC = '{{url_for('static',filename='zxcvbn/zxcvbn.js')}}';

  var async_load = function() {
    var first, s;
    s = document.createElement('script');
    s.src = ZXCVBN_SRC;
    s.type = 'text/javascript';
    s.async = true;
    first = document.getElementsByTagName('script')[0];
    return first.parentNode.insertBefore(s, first);
  };

  if (window.attachEvent != null) {
    window.attachEvent('onload', async_load);
  } else {
    window.addEventListener('load', async_load, false);
  }

}).call(this);
</script>
{% endblock %}
