body { padding-top: 70px; }
.navbar-brand a { color: #777; }
.navbar-brand a:hover { color: #333; text-decoration: none; }

table.sortable>thead>tr>th { min-width: 3em; }
table.sortable .tablesorter-icon { font-style: inherit; }
table.sortable>thead>tr>th.tablesorter-header .tablesorter-icon:after { content: "\21D5"; font-style: inherit; }
table.sortable>thead>tr>th.tablesorter-headerDesc .tablesorter-icon::after { content: "\21D3";  font-style: inherit; }
table.sortable>thead>tr>th.tablesorter-headerAsc .tablesorter-icon::after { content: "\21D1";  font-style: inherit; }

table.sortable>thead>tr>th.tablesorter-header:hover, 
table.sortable>thead>tr>th.tablesorter-headerDesc, 
table.sortable>thead>tr>th.tablesorter-headerAsc { 
	color: #27a;
}
