{% extends "amu/base.html" %}
{% block titleinner %}{{_("Alias")}} '{{alias.name}}'{% endblock %}

{% block inner %}
  <h2>{{_("Alias")}} '{{alias.name}}'</h2>

  {{ wtf.quick_form(form, method="POST", form_type="horizontal") }}
  
{% endblock %}

{% block scripts %}
{{super()}}
<script>
var all_users = [
	{% for user in user_list %}
		[{{user.dn|tojson|safe}}, {{user.name|force_str|tojson|safe}} ],
	{% endfor %}
];
var all_groups = [
	{% for group in group_list %}
		[{{group.dn|tojson|safe}}, {{group.name|force_str|tojson|safe}} ],
	{% endfor %}
];
var all_aliases = [
	{% for alias in alias_list %}
		[{{alias.dn|tojson|safe}}, {{alias.name|force_str|tojson|safe}} ],
	{% endfor %}
];
amu_list_enhancements("members");
</script>
{% endblock %}
