{% extends "amu/base.html" %}
{% block titleinner %}{{_("Alias list")}}{% endblock %}

{% block inner %}
<h2>{{_("Alias list")}}</h2>

<div class="form-group" style="margin-bottom: 20px;">
  <label>{{_("Filter list")}}:</label>
  <input id='search_input' onkeyup='searchTable()' type="text" class="form-control" id="usr" autofocus>
</div>

<table class="table table-striped search_table">
  <thead>
    <tr class="no_filter">
      <th>{{_("Name")}}</th>
      <th>{{_("Members")}}</th>
    </tr>
  </thead>
  {% for alias in aliases %}
  <tr data-href="{{url_for('.alias',cn=alias.name)}}">
    <td><a href="{{url_for('.alias',cn=alias.name)}}">{{alias.name}}</a></td>
    <td>
      {{ alias.members|join(', ') }}
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='amu/mark.js')}}"></script>
{% endblock %}