{% extends "amu/base.html" %}
{% block titleinner %}{{_("Group list")}}{% endblock %}

{% block inner %}
<h2>{{_("Group list")}}</h2>

<div class="form-group">
  <label>{{_("Filter list")}}:</label>
  <input id='search_input' onkeyup='searchTable()' type="text" class="form-control" autofocus>
</div>

<table id="sort_table" class="table table-striped search_table">
  <thead>
    <tr class="no_filter" style="cursor: pointer;">
      <th onclick="sortTable(0, 'sort_table')">{{_("Name")}}</th>
      <th onclick="sortTable(1, 'sort_table')">{{_("Description")}}</th>
      <th onclick="sortTable(2, 'sort_table')">{{_("Members")}}</th>
    </tr>
  </thead>
  {% for group in groups %}
  <tr data-href="{{url_for('.group',cn=group.name)}}">
    <td><a href="{{url_for('.group',cn=group.name)}}">{{group.name}}</a></td>
    <td>{{group.description}}</td>
    <td>
      {% for user in users if user.dn in group.members %}{% if loop.index0 %},{% endif %} {{user.name}}{% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='amu/table_functions.js')}}"></script>
{% endblock %}